<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".contentproviders.SingleCallDetailActivity"
            android:exported="false" />
        <activity
            android:name=".roomdb.UpdateStudentRDBActivity"
            android:exported="false" />
        <activity
            android:name=".roomdb.AddRecordsActivity"
            android:exported="false" />
        <activity
            android:name=".roomdb.RoomDBMainActivity"
            android:exported="false" />
        <activity
            android:name=".databasedemo.UpdatesStudentActivity"
            android:exported="false" />
        <activity
            android:name=".MainHomeActivity.MainContainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".contentproviders.ContactActivity"
            android:exported="true" />
        <activity
            android:name=".databasedemo.FetchingDataActivity"
            android:exported="true" />
        <activity
            android:name=".databasedemo.ViewCourseActivity"
            android:exported="true" />
        <activity
            android:name=".multiplethreading.MultipleThreadsActivity"
            android:exported="true" />
        <activity
            android:name=".databasedemo.DataBaseMainActivity"
            android:exported="true" />
        <activity
            android:name=".threading.MainThreadActivity"
            android:exported="true" />
        <activity
            android:name=".jsonUsingApi.JsonLoadActivity"
            android:exported="true" />
        <activity
            android:name=".layouts.HomeProductActivity"
            android:exported="true" />
        <activity
            android:name=".loginflow.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".loginflow.SplashScreenActivity"
            android:exported="true" />
        <activity
            android:name=".loginflow.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".loginflow.RegistrationActivity"
            android:exported="true" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".getDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerViewDemo"
            android:exported="true" />
        <activity
            android:name=".ShowDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>